PORT

DB_HOST
DB_PORT
DB_USER
DB_PASSWORD
DB_NAME

GOOGLE_CLIENT_ID 
COOKIE_NAME

JWT_SECRET
JWT_EXPIRES

REDIS_HOST
REDIS_PORT

ALLOWED_ORIGINS

MAX_DOCUMENT_VERSIONS

# Rutas relativas funcionan en desarrollo, pero en producción con PM2 o Docker el directorio de trabajo puede variar. En el servidor universitario usa rutas absolutas:
#STORAGE_PATH=/var/intranet-upqroo/storage
#TMP_PATH=/var/intranet-upqroo/tmp

STORAGE_PATH
TMP_PATH
