[mysqld]

max_connections = 500

innodb_buffer_pool_size = 512M

innodb_buffer_pool_instances = 4

wait_timeout = 300
interactive_timeout = 300

innodb_read_io_threads = 4
innodb_write_io_threads = 4

character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

sql_mode = STRICT_TRANS_TABLES